#background-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  z-index: 0;
}

#background-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/projetooo.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(2px) brightness(0.3);
  transform: scale(1.0);
  z-index: -1;
}


.logo-left {
  position: fixed;
  top: 05px;
  left: 50%;
  transform: translate(-50%);
  width: 180px;
  height: 90px;
  background-image: url("../assets/WhatsApp_Image_2025-10-28_at_11.50.35-removebg-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
}

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 420px;
  height: auto;
  border-radius: 20px;
  background: rgba(7, 8, 8, 0.8);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #F5F5F5;
  padding: 2.5rem 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#login-container h2 {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.input-group {
  width: 94%;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  color: #dcdcdc;
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  background-color: transparent;
  border: 1.9px solid #F5F5F5;
  border-radius: 10px;
  padding: 0.8rem;
  color: #F5F5F5;
  font-size: 0.95rem;
  transition: all 0.3s;
}

.input-group input:focus {
  outline: none;
  border-color: #8a00c4;
}

#login-container button {
  margin-top: 1.5rem;
  width: 100%;
  background-color: #8a00c4;
  color: #F5F5F5;
  border: none;
  border-radius: 8px;
  padding: 0.9rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#login-container button:hover {
  background-color: #F5F5F5;
  color: #1A1423;
}

#login-container .register-link {
  margin-top: 1.2rem;
  font-size: 0.9rem;
  color: #dcdcdc;
}
